/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

p {
  border: 1px solid black;
  background-color: gray;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 33.33%;
  }
  .col-lg-2 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 50%;
  }
  .col-md-3 {
    width: 100%;
  }
 
}

.alinear-encabezado strong {
    display: block; /* Hace que el encabezado sea un bloque separado */
    text-align: right; /* Centra el encabezado horizontalmente */
}

